*{
  margin: 0%;
  padding: 0%;
   font-family: 'Poppins', sans-serif;
}

#header-heading{
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 900;
  background-color: rgb(14, 116, 109);
  color: white;
}

#header-heading span {
 color: rgba(64,215,174,255);
}

nav{
  display: flex;
  align-items: center;
  height: calc(4rem + 1px);
  gap: 50px;
}

 .header-info ul{
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px
}  

.Header-button{
 display: flex;
 

}  






/* .header-button span {
  color: rgba(64,215,174,255);
 } */




  
